<h1>login</h1>
<form action="/login" method="POST">
    <div>
        <label for="email"></label>
        <input type="text" placeholder="enter your email" required>
    </div>
    <div>
        <label for="password"></label>
        <input type="text" placeholder="enter your password" required>
    </div>
    <button type="submit">Register</button>
</form>
<a href="/register">register</a>