<h1>register</h1>
<form action="/register" method="POST">
    <div>
        <label for="name"></label>
        <input type="text" placeholder="enter your name" name="name" required>
    </div>
    <div>
        <label for="email"></label>
        <input type="text" placeholder="enter your email" name="email"  required>
    </div>
    <div>
        <label for="password"></label>
        <input type="text" placeholder="enter your password" name="password"  required>
    </div>
    <button type="submit">Register</button>
</form>
<a href="/login">Login</a>